<h2>Movieslist</h2>


<div>


  {{#each response}}

  <a href= "/movie-details/{{this._id}}"><h4>{{this.title}}</h4></a>
  <h4>{{this.genre}}</h4>
  <h4>{{this.plot}}</h4>
   <h4>{{this.cast.title}}</h4>
  
<br>
 <form action="/movies/{{this._id}}/delete" method="post" >
   
   <input type="submit" value="Delete">

   
   </form>
   <br>
 


  {{/each}}

</div>